Logistic Regression

__________________________________________________________________________________________________

-> Load Data and split into train and test

In [63]:
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import jaccard_score
from sklearn.metrics import log_loss

In [64]:
train = pd.read_csv("data/train_clean.csv")

In [65]:
train.head()

   Unnamed: 0  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  S  Q  Title
0           0         0       3    1  22.0      1      0   7.2500  1  0      1
1           1         1       1    0  38.0      1      0  71.2833  0  0      2
2           2         1       3    0  26.0      0      0   7.9250  1  0      2
3           3         1       1    0  35.0      1      0  53.1000  1  0      2
4           4         0       3    1  35.0      0      0   8.0500  1  0      1

In [66]:
train.drop(["Unnamed: 0"], axis=1 ,inplace=True)

In [67]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  S  Q  Title
0         0       3    1  22.0      1      0   7.2500  1  0      1
1         1       1    0  38.0      1      0  71.2833  0  0      2
2         1       3    0  26.0      0      0   7.9250  1  0      2
3         1       1    0  35.0      1      0  53.1000  1  0      2
4         0       3    1  35.0      0      0   8.0500  1  0      1

In [68]:
X_train = train.iloc[:, 1:10]
y_train = train.iloc[:, 0]

In [69]:
X_train = preprocessing.StandardScaler().fit(X_train).transform(X_train)

In [70]:
X_train

array([[ 0.82737724,  0.73769513, -0.53719199, ...,  0.61930636,
        -0.30756234, -0.78451788],
       [-1.56610693, -1.35557354,  0.6672755 , ..., -1.61470971,
        -0.30756234,  0.81870558],
       [ 0.82737724, -1.35557354, -0.23607512, ...,  0.61930636,
        -0.30756234,  0.81870558],
       ...,
       [ 0.82737724, -1.35557354, -0.53719199, ...,  0.61930636,
        -0.30756234,  0.81870558],
       [-1.56610693,  0.73769513, -0.23607512, ..., -1.61470971,
        -0.30756234, -0.78451788],
       [ 0.82737724,  0.73769513,  0.21560019, ..., -1.61470971,
         3.25137334, -0.78451788]])

In [71]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [72]:
test = pd.read_csv("data/test.csv")

In [73]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [74]:
def age_imputation (cols):
    Age = cols[0]
    Sex = cols[1]
    Pclass = cols[2]
    
    if pd.isnull(Age):
        if Pclass == 1 and Sex == 'male':
            return 40
        elif Pclass == 1 and Sex == 'female':
            return 35
        elif Pclass == 2 and Sex == 'male':
            return 30
        elif Pclass == 2 and Sex == 'female':
            return 28
        elif Pclass == 3 and Sex == 'male':
            return 25
        elif Pclass == 3 and Sex == 'female':
            return 22
    else:
        return Age

In [75]:
X_test = pd.read_csv('data/test.csv')
X_test['Age'] = X_test[['Age','Sex','Pclass']].apply(age_imputation,axis=1)
X_test['Sex'] = X_test['Sex'].apply(lambda x: gender(x))
X_test['S'] = X_test['Embarked'].apply(lambda x: southampton(x))
X_test['Q'] = X_test['Embarked'].apply(lambda x: queenstown(x))
X_test['Title'] = X_test['Name'].apply(lambda x: x.split(', ')[1].split('.')[0].strip())
X_test['Title'] = X_test['Title'].apply(lambda x: title_cat(x))
X_test.drop(['Cabin', 'PassengerId', 'Name', 'Ticket', 'Embarked'], axis=1, inplace=True)

In [76]:
def gender (val):
    if val == 'male':
        return 1
    else:
        return 0

In [77]:
def southampton (col):
    Embarked = col
    
    if Embarked == 'S':
        return 1
    else:
        return 0

def queenstown (col):
    Embarked = col
    
    if Embarked == 'Q':
        return 1
    else:
        return 0

In [78]:
def title_cat (x):
    if x == 'Mr':
        return 1
    elif x == 'Miss' or x == 'Mrs' or x == 'Ms' or x == 'Mme' or x == 'Lady' or x == 'Mlle':
        return 2
    else:
        return 3

In [87]:
X_test = pd.read_csv('data/test.csv')
X_test['Age'] = X_test[['Age','Sex','Pclass']].apply(age_imputation,axis=1)
X_test['Sex'] = X_test['Sex'].apply(lambda x: gender(x))
X_test['S'] = X_test['Embarked'].apply(lambda x: southampton(x))
X_test['Q'] = X_test['Embarked'].apply(lambda x: queenstown(x))
X_test['Title'] = X_test['Name'].apply(lambda x: x.split(', ')[1].split('.')[0].strip())
X_test['Title'] = X_test['Title'].apply(lambda x: title_cat(x))
X_test.drop(['Cabin', 'PassengerId', 'Name', 'Ticket', 'Embarked'], axis=1, inplace=True)

In [88]:
sc_test = preprocessing.StandardScaler()
X_test.fillna(X_train.mean(), inplace=True)
X_test = sc_test.fit_transform(X_test)
X_test

array([[ 0.87348191,  0.75592895,  0.39578146, ..., -1.35067551,
         2.84375747, -0.79653256],
       [ 0.87348191, -1.32287566,  1.36279485, ...,  0.74037028,
        -0.35164743,  0.82761676],
       [-0.31581919,  0.75592895,  2.52321092, ..., -1.35067551,
         2.84375747, -0.79653256],
       ...,
       [ 0.87348191,  0.75592895,  0.70522575, ...,  0.74037028,
        -0.35164743, -0.79653256],
       [ 0.87348191,  0.75592895, -0.33914872, ...,  0.74037028,
        -0.35164743, -0.79653256],
       [ 0.87348191,  0.75592895, -0.33914872, ..., -1.35067551,
        -0.35164743,  2.45176608]])

In [89]:
y_test = pd.read_csv('data/gender_submission.csv')
y_test.drop(['PassengerId'],axis=1,inplace=True)

__________________________________________________________________________________________________________
-> Fit and predict the model the logistic regression model

In [90]:
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)

In [92]:
yhat_prob = LR.predict_proba(X_test)

In [93]:
yhat = LR.predict(X_test)
print(yhat)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 1 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 1 1 0 0 1 0 0 1 1 0 1 1 1 1 0 1 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [95]:
yhat_prob = LR.predict_proba(X_test)
print(yhat_prob)

[[0.80398587 0.19601413]
 [0.51148681 0.48851319]
 [0.77559239 0.22440761]
 [0.81623142 0.18376858]
 [0.45240505 0.54759495]
 [0.79352625 0.20647375]
 [0.37265335 0.62734665]
 [0.77126077 0.22873923]
 [0.3207003  0.6792997 ]
 [0.85838628 0.14161372]
 [0.81328271 0.18671729]
 [0.6702465  0.3297535 ]
 [0.19885122 0.80114878]
 [0.8287748  0.1712252 ]
 [0.25687211 0.74312789]
 [0.26806246 0.73193754]
 [0.71805712 0.28194288]
 [0.76239455 0.23760545]
 [0.45589946 0.54410054]
 [0.38847493 0.61152507]
 [0.65722211 0.34277789]
 [0.50849828 0.49150172]
 [0.21195328 0.78804672]
 [0.52808959 0.47191041]
 [0.1426686  0.8573314 ]
 [0.8741758  0.1258242 ]
 [0.14655733 0.85344267]
 [0.76536871 0.23463129]
 [0.65474486 0.34525514]
 [0.83061819 0.16938181]
 [0.80753282 0.19246718]
 [0.79312194 0.20687806]
 [0.4895765  0.5104235 ]
 [0.4571536  0.5428464 ]
 [0.59420611 0.40579389]
 [0.75737775 0.24262225]
 [0.39045405 0.60954595]
 [0.3873765  0.6126235 ]
 [0.81250341 0.18749659]
 [0.78855877 0.21144123]
 [0.80198647 0.19801353]
 [0.65511159 0.34488841]
 [0.83855553 0.16144447]
 [0.30135017 0.69864983]
 [0.25793252 0.74206748]
 [0.81326855 0.18673145]
 [0.60412659 0.39587341]
 [0.78704644 0.21295356]
 [0.19082816 0.80917184]
 [0.44844227 0.55155773]
 [0.63923287 0.36076713]
 [0.67683504 0.32316496]
 [0.37716722 0.62283278]
 [0.20104005 0.79895995]
 [0.68362916 0.31637084]
 [0.65702589 0.34297411]
 [0.82940475 0.17059525]
 [0.81340189 0.18659811]
 [0.84003079 0.15996921]
 [0.09089104 0.90910896]
 [0.79955862 0.20044138]
 [0.74324967 0.25675033]
 [0.80138876 0.19861124]
 [0.35226414 0.64773586]
 [0.18728324 0.81271676]
 [0.2914372  0.7085628 ]
 [0.34218623 0.65781377]
 [0.66103578 0.33896422]
 [0.56770612 0.43229388]
 [0.20672584 0.79327416]
 [0.35727865 0.64272135]
 [0.80651314 0.19348686]
 [0.4090116  0.5909884 ]
 [0.56159157 0.43840843]
 [0.10420912 0.89579088]
 [0.42668851 0.57331149]
 [0.81320791 0.18679209]
 [0.34347105 0.65652895]
 [0.73933953 0.26066047]
 [0.35727865 0.64272135]
 [0.47797121 0.52202879]
 [0.62902477 0.37097523]
 [0.67749413 0.32250587]
 [0.81328271 0.18671729]
 [0.70788257 0.29211743]
 [0.80217013 0.19782987]
 [0.36479123 0.63520877]
 [0.38004044 0.61995956]
 [0.35224592 0.64775408]
 [0.41078565 0.58921435]
 [0.4375993  0.5624007 ]
 [0.81334129 0.18665871]
 [0.24172546 0.75827454]
 [0.81320791 0.18679209]
 [0.55345591 0.44654409]
 [0.81333121 0.18666879]
 [0.31003815 0.68996185]
 [0.81985456 0.18014544]
 [0.38538222 0.61461778]
 [0.82620058 0.17379942]
 [0.20558422 0.79441578]
 [0.76516636 0.23483364]
 [0.78704644 0.21295356]
 [0.81500449 0.18499551]
 [0.37550452 0.62449548]
 [0.81118653 0.18881347]
 [0.77954459 0.22045541]
 [0.78704644 0.21295356]
 [0.81288628 0.18711372]
 [0.71425036 0.28574964]
 [0.70953539 0.29046461]
 [0.35222464 0.64777536]
 [0.17278943 0.82721057]
 [0.34385383 0.65614617]
 [0.19791888 0.80208112]
 [0.78967398 0.21032602]
 [0.7707128  0.2292872 ]
 [0.39271671 0.60728329]
 [0.54445621 0.45554379]
 [0.33621375 0.66378625]
 [0.25969847 0.74030153]
 [0.82059598 0.17940402]
 [0.1904531  0.8095469 ]
 [0.81854566 0.18145434]
 [0.78704644 0.21295356]
 [0.38431386 0.61568614]
 [0.80827234 0.19172766]
 [0.44217683 0.55782317]
 [0.76394955 0.23605045]
 [0.81153229 0.18846771]
 [0.82461638 0.17538362]
 [0.30639585 0.69360415]
 [0.43000768 0.56999232]
 [0.80620198 0.19379802]
 [0.84149042 0.15850958]
 [0.81162792 0.18837208]
 [0.77317295 0.22682705]
 [0.73077655 0.26922345]
 [0.39307354 0.60692646]
 [0.88633095 0.11366905]
 [0.6163509  0.3836491 ]
 [0.15212646 0.84787354]
 [0.5579943  0.4420057 ]
 [0.72691604 0.27308396]
 [0.6600621  0.3399379 ]
 [0.89517269 0.10482731]
 [0.63662357 0.36337643]
 [0.80814649 0.19185351]
 [0.65511159 0.34488841]
 [0.48438199 0.51561801]
 [0.13961248 0.86038752]
 [0.76988869 0.23011131]
 [0.86840827 0.13159173]
 [0.45138017 0.54861983]
 [0.70999508 0.29000492]
 [0.81177642 0.18822358]
 [0.12064923 0.87935077]
 [0.39322274 0.60677726]
 [0.6600621  0.3399379 ]
 [0.42308767 0.57691233]
 [0.35225809 0.64774191]
 [0.4807148  0.5192852 ]
 [0.29184375 0.70815625]
 [0.81371679 0.18628321]
 [0.45809169 0.54190831]
 [0.4555958  0.5444042 ]
 [0.59610192 0.40389808]
 [0.86364733 0.13635267]
 [0.17302534 0.82697466]
 [0.38976064 0.61023936]
 [0.81345037 0.18654963]
 [0.77413548 0.22586452]
 [0.83801028 0.16198972]
 [0.77026565 0.22973435]
 [0.88580018 0.11419982]
 [0.2730487  0.7269513 ]
 [0.26373155 0.73626845]
 [0.65759356 0.34240644]
 [0.33324368 0.66675632]
 [0.21198679 0.78801321]
 [0.73933953 0.26066047]
 [0.60634738 0.39365262]
 [0.20500522 0.79499478]
 [0.78704644 0.21295356]
 [0.11043368 0.88956632]
 [0.75820953 0.24179047]
 [0.28688459 0.71311541]
 [0.85928938 0.14071062]
 [0.76372226 0.23627774]
 [0.75996177 0.24003823]
 [0.77871055 0.22128945]
 [0.65550838 0.34449162]
 [0.55933715 0.44066285]
 [0.77218076 0.22781924]
 [0.3814316  0.6185684 ]
 [0.82629036 0.17370964]
 [0.173267   0.826733  ]
 [0.3802474  0.6197526 ]
 [0.72583077 0.27416923]
 [0.39040654 0.60959346]
 [0.346619   0.653381  ]
 [0.48940755 0.51059245]
 [0.21324591 0.78675409]
 [0.29812005 0.70187995]
 [0.73018426 0.26981574]
 [0.59396137 0.40603863]
 [0.38549928 0.61450072]
 [0.72801297 0.27198703]
 [0.16990195 0.83009805]
 [0.81328271 0.18671729]
 [0.81782952 0.18217048]
 [0.81369258 0.18630742]
 [0.66960458 0.33039542]
 [0.41594895 0.58405105]
 [0.66678498 0.33321502]
 [0.64854013 0.35145987]
 [0.35215177 0.64784823]
 [0.65806416 0.34193584]
 [0.15207349 0.84792651]
 [0.81320791 0.18679209]
 [0.29023541 0.70976459]
 [0.80643627 0.19356373]
 [0.28478737 0.71521263]
 [0.80656298 0.19343702]
 [0.2033347  0.7966653 ]
 [0.34919459 0.65080541]
 [0.80997015 0.19002985]
 [0.35224592 0.64775408]
 [0.83463886 0.16536114]
 [0.75184887 0.24815113]
 [0.66831322 0.33168678]
 [0.18989383 0.81010617]
 [0.83823576 0.16176424]
 [0.78697727 0.21302273]
 [0.60756665 0.39243335]
 [0.80481275 0.19518725]
 [0.66802243 0.33197757]
 [0.76039742 0.23960258]
 [0.33074574 0.66925426]
 [0.18852534 0.81147466]
 [0.20677539 0.79322461]
 [0.34962904 0.65037096]
 [0.58805953 0.41194047]
 [0.81328674 0.18671326]
 [0.60183029 0.39816971]
 [0.68673731 0.31326269]
 [0.27800624 0.72199376]
 [0.79901597 0.20098403]
 [0.33621375 0.66378625]
 [0.37367538 0.62632462]
 [0.29216672 0.70783328]
 [0.80477723 0.19522277]
 [0.52397923 0.47602077]
 [0.81090867 0.18909133]
 [0.8247415  0.1752585 ]
 [0.81345037 0.18654963]
 [0.78704644 0.21295356]
 [0.81816585 0.18183415]
 [0.27651771 0.72348229]
 [0.80657334 0.19342666]
 [0.85578651 0.14421349]
 [0.80653387 0.19346613]
 [0.31557059 0.68442941]
 [0.39616241 0.60383759]
 [0.68558886 0.31441114]
 [0.81328271 0.18671729]
 [0.67401095 0.32598905]
 [0.81345037 0.18654963]
 [0.39045405 0.60954595]
 [0.79916589 0.20083411]
 [0.57156202 0.42843798]
 [0.78704644 0.21295356]
 [0.14204377 0.85795623]
 [0.39633566 0.60366434]
 [0.77026803 0.22973197]
 [0.31450283 0.68549717]
 [0.73663217 0.26336783]
 [0.78986746 0.21013254]
 [0.77384742 0.22615258]
 [0.72363771 0.27636229]
 [0.39260694 0.60739306]
 [0.53061459 0.46938541]
 [0.35224592 0.64775408]
 [0.352717   0.647283  ]
 [0.39266295 0.60733705]
 [0.83124411 0.16875589]
 [0.81359572 0.18640428]
 [0.62267519 0.37732481]
 [0.77026565 0.22973435]
 [0.81320791 0.18679209]
 [0.64563443 0.35436557]
 [0.37316063 0.62683937]
 [0.77026565 0.22973435]
 [0.38801501 0.61198499]
 [0.83023364 0.16976636]
 [0.81494631 0.18505369]
 [0.23290609 0.76709391]
 [0.83061819 0.16938181]
 [0.61565095 0.38434905]
 [0.81988795 0.18011205]
 [0.82474337 0.17525663]
 [0.6839975  0.3160025 ]
 [0.77112968 0.22887032]
 [0.8112329  0.1887671 ]
 [0.35224592 0.64775408]
 [0.3295955  0.6704045 ]
 [0.61187477 0.38812523]
 [0.48112067 0.51887933]
 [0.70279241 0.29720759]
 [0.50031647 0.49968353]
 [0.80092448 0.19907552]
 [0.7643802  0.2356198 ]
 [0.81343825 0.18656175]
 [0.39072053 0.60927947]
 [0.15588971 0.84411029]
 [0.33982058 0.66017942]
 [0.59740664 0.40259336]
 [0.71699388 0.28300612]
 [0.81661834 0.18338166]
 [0.78949119 0.21050881]
 [0.81500449 0.18499551]
 [0.77026565 0.22973435]
 [0.73077655 0.26922345]
 [0.63752379 0.36247621]
 [0.13669505 0.86330495]
 [0.81033652 0.18966348]
 [0.3451026  0.6548974 ]
 [0.5684634  0.4315366 ]
 [0.76909394 0.23090606]
 [0.71982633 0.28017367]
 [0.3522304  0.6477696 ]
 [0.58824874 0.41175126]
 [0.77026803 0.22973197]
 [0.37782975 0.62217025]
 [0.81659844 0.18340156]
 [0.63027808 0.36972192]
 [0.7435543  0.2564457 ]
 [0.8135617  0.1864383 ]
 [0.71676799 0.28323201]
 [0.4696178  0.5303822 ]
 [0.71475791 0.28524209]
 [0.82483374 0.17516626]
 [0.87878442 0.12121558]
 [0.05708262 0.94291738]
 [0.59553133 0.40446867]
 [0.37517353 0.62482647]
 [0.73077655 0.26922345]
 [0.37035535 0.62964465]
 [0.72611156 0.27388844]
 [0.29829404 0.70170596]
 [0.18043188 0.81956812]
 [0.73018426 0.26981574]
 [0.67203209 0.32796791]
 [0.80346746 0.19653254]
 [0.4006867  0.5993133 ]
 [0.67989138 0.32010862]
 [0.33487282 0.66512718]
 [0.81329076 0.18670924]
 [0.78704644 0.21295356]
 [0.45803997 0.54196003]
 [0.83789824 0.16210176]
 [0.27302623 0.72697377]
 [0.29829404 0.70170596]
 [0.81623142 0.18376858]
 [0.17514006 0.82485994]
 [0.51613798 0.48386202]
 [0.80216806 0.19783194]
 [0.36668822 0.63331178]
 [0.18230894 0.81769106]
 [0.68243912 0.31756088]
 [0.76161761 0.23838239]
 [0.12462425 0.87537575]
 [0.69536463 0.30463537]
 [0.76789131 0.23210869]
 [0.26961135 0.73038865]
 [0.09940391 0.90059609]
 [0.49474881 0.50525119]
 [0.72079152 0.27920848]
 [0.67515297 0.32484703]
 [0.6915584  0.3084416 ]
 [0.78704644 0.21295356]
 [0.78881439 0.21118561]
 [0.38556232 0.61443768]
 [0.4277794  0.5722206 ]
 [0.73941646 0.26058354]
 [0.32079189 0.67920811]
 [0.81166659 0.18833341]
 [0.79238356 0.20761644]
 [0.77958345 0.22041655]
 [0.64184133 0.35815867]
 [0.55992807 0.44007193]
 [0.24840357 0.75159643]
 [0.51954569 0.48045431]
 [0.77511228 0.22488772]
 [0.8970311  0.1029689 ]
 [0.20143688 0.79856312]
 [0.78546735 0.21453265]
 [0.21117386 0.78882614]
 [0.80828263 0.19171737]
 [0.79790075 0.20209925]
 [0.14264037 0.85735963]
 [0.78886707 0.21113293]
 [0.14759069 0.85240931]
 [0.58008151 0.41991849]
 [0.65026443 0.34973557]
 [0.6606186  0.3393814 ]
 [0.76615907 0.23384093]
 [0.54115299 0.45884701]
 [0.3522672  0.6477328 ]
 [0.40021281 0.59978719]
 [0.35224592 0.64775408]
 [0.19325129 0.80674871]
 [0.40647259 0.59352741]
 [0.81320791 0.18679209]
 [0.07977658 0.92022342]
 [0.83506431 0.16493569]
 [0.81320791 0.18679209]
 [0.52447562 0.47552438]]

check accuracy of the model

In [104]:
# simularity of sample set -> intersection of union of A and B
print("accuracy is: " + str(round(jaccard_score(y_test, yhat)*100, 2)) + "%")

accuracy is: 87.43